{erl_opts, [debug_info]}.

{deps, [cowboy]}.

{plugins, [
          {rebar3_appup_plugin, {git, "https://github.com/lrascao/rebar3_appup_plugin.git", {branch, "master"}}}
         ]}.

{relx, [
        {release, {oyhveyh, semver}, [oyhveyh]}
       ]
}.


{shell, [
  % {config, "config/sys.config"},
    {apps, [oyhveyh]}
]}.
